
/* черный заголовки #212121
синий 2196F3 
серий основой текст 757575
чисто черный 000000
фон ECECEC
белый FFFFFF
фон героя 2F303A
чем мы занимемся фон
фон наша команад F5F4FA
адрес color: rgba(255, 255, 255, 0.6);
*/
:root{--blue-main:#2196F3 ; 
--black-main:#212121;
--gray-main:#757575;
}
ul{list-style-type:none}


/* ШАПКА */

        .logo{color: var(--blue-main);
            text-decoration: none;}
        .logo-black{color: var(--black-main);}
        .nav {color:var(--black-main);
            text-decoration: none; }
        .nav:hover{color: var(--blue-main);}
        .nav:focus{color: var(--blue-main);}
        .mail-nav{color: var(--black-main);text-decoration: none;}
        .mail-nav:focus{color: var(--blue-main);}
        .mail-nav:hover{color: var(--blue-main);}
        .tel-nav{color: var(--black-main);text-decoration: none;}
        .tel-nav:hover{color: var(--blue-main);}
        .tel-nav:focus {color: var(--blue-main);}



        
/* ПОДВАЛ */
.back-footer{background-color: #2F303A; }
.logo-white{color:#ffffff;}
.address{ color: #ffffff;
}
.mail-footer{color: rgba(255, 255, 255, 0.6); text-decoration: none;}
.tel-footer{color: rgba(255, 255, 255, 0.6); text-decoration: none;}

       






/* СЕКЦИЯ 1 ГЕРОЙ */


        .hero{position: absolute;
        background: #2F303A;
        position: absolute;
        left: 0px;
        top: 80px;
        margin-left: 300px;
        }
        .hero-text{
            color: #ffffff;
        }
        .button-hero{ color: #ffffff;background-color: var(--blue-main);position: absolute;
            width: 200px;
            height: 50px;
            left: 700px;
            top: 430px;}


/* СЕКЦИЯ 2 Особенности*/

        .visually-hidden{font-size: 0px;
            visibility: hidden; 
            }
        .list{color: var(--black-main);}
        .list-items{color:var(--gray-main)}



/* СЕКЦИЯ 3  Чем мы занимаемся*/

        .title{
            color: var(--black-main);
        }



/* СЕКЦИЯ 4 Наша команда*/

        .dream-team{
            color: var(--black-main);   
        }
        .items-name{color: var(--black-main);}
        .profession{color: var(--gray-main);}

